<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/773875de-db75-4e59-a7f7-022d23319dcb/resourcegroups/MVCSecurity/providers/Microsoft.Web/sites/RetroVideo</ResourceId>
    <ResourceGroup>MVCSecurity</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://retrovideo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>retrovideo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RetroVideo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RetroVideo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RetroVideoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=mvc-securitydbserver.database.windows.net;Initial Catalog=RetroVideo_db;User ID=JanPiet;Password=PietJan!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RetroVideo.Models.RetroVideoEntities, RetroVideo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RetroVideoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.RetroVideo.csdl|res://*/Models.RetroVideo.ssdl|res://*/Models.RetroVideo.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mvc-securitydbserver.database.windows.net;Initial Catalog=RetroVideo_db;User ID=JanPiet;Password=PietJan!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>